@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

/* GLOBAL RESET */
/* CSS VARIABLES DECLARATION */
:root {
  --primary-color: #fff;
  --font-size-h1: 8vw;
  --font-weight-h1: 8vw;
  --letter-spacing: 1px;

  --font-size-h3: 2.5vw;
  --font-size-h4: 2vw;

  --font-weight-h3: 600;
  --font-weight-h4: 300;

  --menu-speed: 0.75s;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.7;
  font-family: "Noto Sans JP", sans-serif;
}

/* GENERAL STYLING */
h1,
h2,
h3 {
  letter-spacing: var(--letter-spacing);
  /* padding: 0; */
}
h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
}
h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
}
h4 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h4);
}
.header {
  background: url("../img/background.png") no-repeat center center/cover;
  height: 100vh;
}
.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

/* START OF NAV STYLING */
a {
  color: var(--primary-color);
  font-weight: var(--font-weight-h4);
  transition: all 1s;
}
a:hover {
  color: #c5baba;
  text-decoration: none;
}
.nav-link {
  padding-right: 30px;
}
.navbar-nav {
  margin-left: 40rem;
}
/* END OF NAV STYLING */

/* START OF BUTTON STYLING */
.btn {
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  font-weight: var(--font-weight-h3);
  letter-spacing: 2px;
  padding: 1vw 3vw;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(to right, #e4b074 0%, #f1a043 51%, #f1a043 100%);
  color: white;
  margin-top: 20px;
  transition: background 5s;
}
.btn:hover {
  background: linear-gradient(to left, #e4b074 0%, #f1a043 51%, #eb8612 100%);
  color: var(--primary-color);
}
/* END OF BUTTON STYLING */

/* START OF HERO TEXT STYLING */
.hero-text {
  width: 90%;
  margin-left: auto;
  margin-top: 8rem;
  color: var(--primary-color);
}
.logo {
  height: 30px;
  width: auto;
  display: inline;
}
@media (max-width: 768px) {
  .logo {
    margin-left: auto;
    display: block;
  }
}
nav {
  width: 100%;
  display: flex;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  width: fit-content;
}
@media (max-width: 768px) {
  nav ul {
    display: none;
  }
}

nav li {
  display: inline-block;
  margin: 0 35px;
  position: relative;
}
nav a:hover {
  color: #c5baba;
}
nav a::before {
  content: "";
  display: block;
  height: 1px;
  width: 0%;
  background: #fff;
  top: 0;
  transition: all ease-in-out 250ms;
}
nav a:hover::before {
  width: 100%;
}

.menu-wrap {
  position: fixed;
  top: 0;
  /* margin-left: auto; */
  z-index: 1;
  display: none;
  margin-top: 1.5rem;
  padding: 1rem;
}
@media (max-width: 768px) {
  .menu-wrap {
    display: flex;
  }
}
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 10;
  z-index: 1;
  width: 50px;
  height: 40px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Hamburger line */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
/* Top and bottom lines */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
/* Moves line down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turn lines into x */
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}
/* Rotate onHover whenn checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
/* Show menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu > div {
  background: rgba(0, 0, 0, 0.726);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: var(--primary-color);
  font-size: 1.5rem;
  padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
